{% extends 'base.html' %} 
{% load static %}

{% block title %}ABOUT US{% endblock %}
{% block content %}
<!-- MAIN SECTION -->
<section class="about_data">
    <div class="about_inner_data">
        <div class="group parallax-scroll">
            <div>
                <h3>WHO WE ARE</h3>
            </div>
        </div>

        <div class="about_intro">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus facilis pariatur enim sed excepturi sapiente eius consequuntur. Hic natus, aliquam voluptates facilis mollitia dolorem magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sapiente? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo possimus, eius illum qui error natus quidem unde fugit ut ratione maxime suscipit sapiente est eos sint culpa minus dicta a.</p>
        </div>
        <div class="group parallax-scroll back">
            <div>
                <h3>WHAT WE DO</h3>
            </div>
        </div>

        <div class="about_intro">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus facilis pariatur enim sed excepturi sapiente eius consequuntur. Hic natus, aliquam voluptates facilis mollitia dolorem magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sapiente? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo possimus, eius illum qui error natus quidem unde fugit ut ratione maxime suscipit sapiente est eos sint culpa minus dicta a.</p>
        </div>
        
    </div>
</section>

<!-- CONTACT -->

<section class="contact">
    <h3>CONNECT  TO  US</h3>
    <div class="media">
        <div><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
        <div><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
        <div><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
    </div>
</section>
<!-- FOOTER -->
{% endblock %}