{% extends 'base.html' %}
{% load static %}
{% block title %}Dr. R. Kumar {% endblock %}

{% block content %}

<section class="faculty">
    <div class="faculty-members">
        <h1>Dr. R. Kumar</h1>
        <div class="faculty-image">
            <div class="img">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="faculty-details">
        <h2>Qualications</h2>
        <ul>
            <li>B.Tech (in Electrical and Electronics Engg. from MS University, Tirunelveli, TamilNadu - 2000)</li>
            <li>M.Tech. (in Energy Systems from IIT Madras, Chennai - 2002)</li>
            <li>Ph.D. (in Electrical Engg. from National Institute of Technology, Tiruchirappalli - 2013)</li>
        </ul>
        <h2>Experience</h2>
        <ul>
            <li>Associate Professor : since March 2018 in EEE Dept., N I T, Tiruchirappalli</li>
            <li>Assistant Professor : May 2006 – March 2018 in EEE Dept., N I T, Tiruchirappalli</li>
            <li>Senior Lecturer : January 2006 to May 2006 in Amrita School of Engineering, Bangalore</li>
            <li>Lecturer: June 2002 to December 2005 PSNACET, Dindigul, Tamil Nadu</li>
        </ul>
        <h2>Research Publications</h2>
        <ul>
            <li>Papers published in national, international journals and presented in various international and national
                conferences. Click here for the list.</li>
        </ul>
    </div>
</section>F

{% endblock %}