{% extends 'base.html' %} 
{% load static %}

{% block title %}WELCOME | ROBOTICS CLUB NIT NAGALAND {% endblock %}
{% block content %}
<section class="main-img">
    <section class="banner">
        <section class="data">
            <div class="inner-data">
                <div class="quote">
                    <h2>"We're fascinated with robots because they are reflections of ourselves."</h2>
                </div>
                <div class="author">
                    <p>- Ken Goldberg</p>
                </div>
            </div>
        </section>
    </section>
</section>
{% endblock %}