{% extends 'base.html' %}
{% load static %}

{% block title %}OUR TEAM {% endblock %}
{% block content %}
<section class="big-img">
    <div id='team-heading'>
        <h1>OUR TEAM</h1>
    </div>
</section>



<!-- TEAM SECTION  -->
<div class="desktop-view">
    <h2 class="team-section-head">
        President
    </h2>
    <section class="president">
        <div class="member">
            <img src="images/member-1.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section class="team-members">
        <div class="member">
            <img src="images/member-1.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="images/member2.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="images/member3.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <h2 class="team-section-head">
        Mentors
    </h2>

    <section class="team-members" id="mentors">
        <div class="member">
            <img src="images/member-1.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="images/member2.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <h2 class="team-section-head">
        Core Team
    </h2>

    <section class="team-members" id="core-team">
        <div class="member">
            <img src="images/member-1.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="images/member2.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="member">
            <img src="images/member3.jpg" alt="">
            <div class="details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="team-social">
                    <a href="">
                        <span class="social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- MOBILE VIEW -->

<div class="mobile-view">
    <h2 class="team-section-head">
        President
    </h2>


    <section class="m-team-members" id="m-President">
        <div class="m-member">
            <img src="images/member-1.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="m-team-members" id=>
        <div class="m-member">
            <img src="images/member-1.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-member">
            <img src="images/member2.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-member">
            <img src="images/member3.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <h2 class="team-section-head">
        Mentors
    </h2>

    <section class="m-team-members" id=>
        <div class="m-member">
            <img src="images/member-1.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-member">
            <img src="images/member2.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <h2 class="team-section-head">
        Core Team
    </h2>

    <section class="m-team-members" id=>
        <div class="m-member">
            <img src="images/member-1.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Branch (Ist)</h3>
                <h3>Cordinator</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-member">
            <img src="images/member2.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-member">
            <img src="images/member3.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <h2 class="team-section-head">
        Web Team
    </h2>

    <section class="m-team-members" id=>
        <div class="m-member">
            <img src="images/member3.jpg" alt="">
            <div class="m-details">
                <h2>Member Name</h2>
                <h3>Work</h3>
                <div class="m-team-social">
                    <a class="icon1">
                        <span class="m-social"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                    <a href="">
                        <span class="m-social"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}